body * {
    background-color: blanchedalmond;
}

header {
    color:brown;
    background-color: burlywood;
    font-size: 48px;
}

h1 {
    color: brown;
    background-color: burlywood;
    font-size: 36px;
}

img {
    width: 700px;
    height: 500px;
    border: 5px solid brown;
}


label {
    font-size: 14px;
    color: brown;
}

#names-section {
    font-size: 24px;
    color: brown;
    background-color: burlywood;
    border: 5px solid brown;
    width: 200px;
}


container {
    display: flex;
}
